@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* Register New Use *@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card custom-card rounded-lg" style="padding:10px 20px">

                <div class="card-body">

                    @* Register with an external login*@
                    <section class="text-center">
                        <h2 class="text-center">Register</h2><br />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="pill-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="fab fa-google"></i> Register using @provider.DisplayName
                                                </button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>

                <hr />

                @* Registration Form *@
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center">Create Account</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="first name">
                        <label asp-for="FirstName">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="LastName" class="form-control" aria-required="true" placeholder="last name">
                        <label asp-for="LastName">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="BirthDate" class="form-control" aria-required="true" placeholder="birth date" type="date">
                        <label asp-for="BirthDate">Birth Date</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="CountryOfResidence" class="form-control" aria-required="true" placeholder="country of residence">
                        <label asp-for="CountryOfResidence">Country of Residence</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Gender" class="form-control" aria-required="true">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <label asp-for="Gender">Gender</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Age" class="form-control" aria-required="true" placeholder="age">
                        <label asp-for="Age">Age</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button id="registerSubmit" type="submit" class="pill-button">Register</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
