@model Product

@{
    ViewData["Title"] = @Model.Name;
}

<div>
    <div class="row">
        <div class="col-1">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">
                <img src="~/img/backbutton2.png" class="img-fluid rounded-corners" style="height:30px">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 d-flex justify-content-center">
            <img src="@Model.ImgLink" class="img-fluid" />
        </div>
        <div class="col-7 d-flex flex-column justify-content-center text-center">
            <div>
                <h1><b>@Model.Name</b></h1>
                <p class="lead"><b>@Model.Category | Created in @Model.Year | @Model.NumParts Pieces</b></p>
                <p class="lead"><b>Colors: @Model.PrimaryColor & @Model.SecondaryColor</b></p>
                <br /><br />
            </div>
            <form asp-page="/Cart" id="@Model.ProductId" method="post" class="mb-auto d-flex flex-column">
                <div>
                    <input type="hidden" asp-for="@Model.ProductId">
                    <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
                    <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
                    <div class="d-grid gap-2">
                        <button type="submit" class="short-pill-button w-100 mt-auto">Add to Cart</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <br /><br />
    <div class="custom-card" style="border-radius: 10px;">
        <div class="card-body">
            <h4>Product Description</h4>
            <p class="lead">@Model.Description</p>
        </div>
    </div>
    <br /><br />

    
  

   @*  <form asp-page="/Cart" id="@Model.ProductId" method="post" class="position-absolute bottom-0 end-0">
        <input type="hidden" asp-for="@Model.ProductId">
        <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
        <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
        <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
    </form> *@



    
</div>
