@model Product

<div class="card position-relative">
    <h4 class="text-end">
        @Model.Name
    </h4>
    <ul>
        <li>Product Name: @Model.Name</li>
        <li>
            Categories:
            @foreach (ProductCategory c in Model.ProductCategories)
            {
                @c.Category.CategoryName @: -
            }
            | Created in: @Model.Year | @Model.NumParts Pieces
        </li>
        <li>Colors: @Model.PrimaryColor and @Model.SecondaryColor</li>
        <li>@Model.Description</li>
        <li class="text-end">Our Price: @Model.Price</li>
        <li><img src="@Model.ImgLink" /></li>
    </ul>

    <form asp-page="/Cart" id="@Model.ProductId" method="post" class="position-absolute bottom-0 end-0">
        <input type="hidden" asp-for="@Model.ProductId">
        <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
        <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
        <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
    </form>
</div>
