@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>
<br>
<br>
<table class="table table-borderless table-hover highlighted-rows" style="border-collapse: separate; border-spacing: 0 10px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Users</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td class="center-button">
                <a class="blue-pill-button" style="display: flex; justify-content: center; align-items: center; height: 100%; asp-action="Update" asp-route-id="@role.Id">Update</a>
            </td>
            <td class="center-button">
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="red-pill-button">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="bottom-center">
    <a asp-action="Create" class="blue-pill-button center-button">Create a Role</a>
</div>