@{
    ViewData["Title"] = "Add and Edit Products";
}

@model ProductsListViewModel

<div class="row m-1 p-1">
    <div class="row m-1 p-1">
    <div class="col-3 ">
        <h1 class="text-center">Products</h1>
        <vc:admin-product-types />
        <hr>
        <vc:admin-product-color />
    </div>
    <div class="container col-9">
        <a class="short-pill-button" asp-controller="Admin" asp-action="AddProduct" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Add New Product</a>
        <hr>
        @foreach (Product p in Model.Products)
        {
            <div class="card m-1 p-1 custom-card">
                <div class="row">
                    <div class="col-4">
                        <img src="@p.ImgLink" class="img-thumbnail rounded float-left mx-auto my-auto d-block " />
                    </div>
                    <div class="col-5">
                        <h5>@p.Name</h5>
                        <h6>
                            @p.Category.CategoryName
                        </h6>
                    </div>
                    <div class="col-2 d-flex flex-column h-100 justify-content-end">
                        <h4>
                            <span class="text-black"><small>@p.Price.ToString("c")</small></span>
                        </h4>
                        <a class="short-pill-button" asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@p.ProductId" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                            Edit Product
                        </a>
                        <form id="deleteProduct_@p.ProductId" action="@Url.Action("DeleteProduct", "Admin", new { productId = p.ProductId })" method="post">
                            <button class="btn btn-danger" type="button" onclick="confirmDelete(@p.ProductId)">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }

        <div class="pagination-container">
            <div page-model="@Model.PaginationInfo" page-action="AdminProducts" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" page-url-color="@Model.CurrentColor"
                 class="btn-group pull-right m-1" style="color: #237841">
            </div>
        </div>

        @* <div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true" page-class="btn"
            page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" page-url-color="@Model.CurrentColor"
            class="btn-group pull-right m-1 custom-card">
        </div> *@
    </div>
</div>

<script>
    // Function to confirm the user wants to delete a movie
    function confirmDelete(productId) {
        let confirmation = confirm("Are you sure you want to delete this product?");
        if (confirmation) {
            document.getElementById("deleteProduct_" + productId).submit();
        } else {
            // User clicked cancel, do nothing
        }
    }
</script>