@{
    ViewData["Title"] = "Orders";
}

@model OrdersListViewModel

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Transaction Country</th>
            <th>Date</th>
            <th>DOW</th>
            <th>Time</th>
            <th>Entry Mode</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>Shipping Address</th>
            <th>Bank</th>
            <th>Card Type</th>
            <th>Fraud</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model.Orders)
        {
            <tr>
                <td class="text-left">@order.OrderID</td>
                <td class="text-left">@order.CustomerId</td>
                <td class="text-left">@order.CountryOfTransaction</td>
                <td class="text-left">@order.Date</td>
                <td class="text-left">@order.DayOfWeek</td>
                <td class="text-left">@order.Time</td>
                <td class="text-left">@order.EntryMode</td>
                <td class="text-left">@order.Amount</td>
                <td class="text-left">@order.TypeOfTransaction</td>
                <td class="text-left">@order.Line1, @order.Line2<br /> @order.City, @order.State @order.Zip<br />@order.ShippingCountry</td>
                <td class="text-left">@order.Bank</td>
                <td class="text-left">@order.TypeOfCard</td>
                <td class="text-left">@order.Fraud</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="1">1</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="2">2</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="3">3</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="4">4</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="5">5</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="6">6</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="7">7</a>
<a asp-controller="Admin" asp-action="Orders" asp-route-pageNum="8">8</a>
