@page
@{
    ViewData["Title"] = "Cart";
}
@model Intex2.Pages.CartModel

<h2>My cart</h2>

<table class="table table-borderless table-hover highlighted-rows" style="border-collapse: separate; border-spacing: 0 10px;">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-right">@l.Quantity</td>
                <td class="text-right">@l.Product.Price</td>
                <td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <button type="submit" class="red-pill-button">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-end">
    <div class="card custom-card">
        <div class="card-body">
            <div class="row">
                <div class="text-center">
                    <h4><b>Total: </b>@Model.Cart?.CalculateTotal().ToString("c")</h4>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col text-center">
                    <a class="pill-button" asp-action="Checkout" asp-controller="Order">Checkout</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col text-center">
                    <a class="mt-auto text-dark" style="font-size: 1.rem;" href="@Model.ReturnUrl">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>

