@model Product

<div class="card m-1 p-1 custom-card">
    <div class="row">
        <div class="col-4">
            <img src="@Model.ImgLink" class="img-thumbnail rounded float-left mx-auto my-auto d-block " />
        </div>
        <div class="col-8">
            <h3>
                @Model.Name
                <span class="text-black float-end"><small>@Model.Price.ToString("c")</small></span>
            </h3>
            <ul>
                <li>
                    Categories:
                    @foreach (ProductCategory c in Model.ProductCategories)
                    {
                        @c.Category.CategoryName @: -
                    }
                </li>

                <li>Product Name: @Model.Name</li>
            </ul>

            @* <a href="/ProductDetails?productId=@Model.ProductId" class="btn">Product Details</a> *@
            <a asp-controller="Home" asp-action="AdminProductDetails" asp-route-productId="@Model.ProductId"><u>Product Details</u></a>

            <form asp-page="/Cart" id="@Model.ProductId" method="post">

                <div>
                    <input type="hidden" asp-for="@Model.ProductId">
                    <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
                    <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
                    @* <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
                    <button type="submit" class="short-pill-button float-end mt-auto">Add to Cart</button>
                </div>
            </form>
        </div>
    </div>

</div>