@model Product

<div class="card m-1 p-1">
    <h4>@Model.ProductName
        <span class="badge rounded-pill bg-primary text-white float-end"><small>@Model.ProductPrice.ToString("c")</small></span>
    </h4>
    <ul>
        <li>Product Type: @Model.ProductType</li>
        <li>Product Name: @Model.ProductName</li>
        <li>Product Description: @Model.ProductDescription</li>
    </ul>

    <form id="@Model.ProductId" method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.ProductId">
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-success btn-sm float-end">Buy</button>
    </form>
</div>