@model Product

@* <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Repeat the above div for each card -->
    </div>
</div>
 *@


<div class="d-flex flex-wrap">
    <!-- Your existing card goes here -->
    <div class="card m-1 p-1 custom-card">
        <div class="row">
            <div class="col-4">
                <img src="@Model.ImgLink" class="img-thumbnail rounded float-left mx-auto my-auto d-block" />
            </div>
            <div class="col-5 d-flex flex-column">
                <h4><b>@Model.Name</b></h4>
                <h6>@Model.Category.CategoryName</h6>
                <a asp-controller="Home" asp-action="ProductDetails" asp-route-productId="@Model.ProductId" class="mt-auto text-dark" style="font-size: 1.rem;"><u>Product Details</u></a>
            </div>
            <div class="col-3 d-flex flex-column justify-content-between">
                <div>
                    <h4>
                        <span class="text-black float-end"><small>@Model.Price.ToString("c")</small></span>
                    </h4>
                </div>
                <div class="d-flex justify-content-end">
                    <form asp-page="/Cart" id="@Model.ProductId" method="post" class="mb-auto">
                        <div>
                            <input type="hidden" asp-for="@Model.ProductId">
                            <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
                            <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
                            <button type="submit" class="short-pill-button">Add to Cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Additional cards can be added here -->
</div>

