@model Product


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="@Model.ImgLink" class="img-thumbnail rounded float-left mx-auto my-auto d-block" />
            </div>
            <div class="col-8">
                <h4><b>@Model.Name</b></h4>
                <h6>@Model.Category.CategoryName</h6>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6" style="text-decoration:none;">
                <a asp-controller="Home" asp-action="ProductDetails" asp-route-productId="@Model.ProductId" class="btn btn-primary pill-button w-100 no-underline" style="text-decoration:none"><u>Product Details</u></a>
            </div>
            <div class="col-6">
                <form asp-page="/Cart" id="@Model.ProductId" method="post" class="mb-auto">
                    <div>
                        <input type="hidden" asp-for="@Model.ProductId">
                        <input type="hidden" name="category" value="@ViewContext.HttpContext.Request.Query["category"]" />
                        <input type="hidden" name="pageNum" value="@ViewContext.HttpContext.Request.Query["pageNum"]" />
                        <button type="submit" class="btn btn-primary pill-button w-100">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






